# Hidden folders
.lightning_studio/
.vscode/
.idea/
.vscode-server/
.windsurf-server/
.cursor-server/
.idea/
.vscode/

# Results
Open-3DULM/results/
Open-3DULM/result/
Open-3DULM copy/result/
Open-3DULM copy/results/

# Python
__pycache__/
*.pyc
mat